.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; 
  padding: 20px;
  background-color: #f8f9fa; 
}

.search-bar {
  margin: 20px auto;
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-wrapper {
  max-height: none; 
  overflow-y: unset; 
  width: 100%;
}